body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr0CExr4WK900krhkmuFVLV3K56ZwZKAy3tQ&s');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.traffic-light-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.traffic-light-post {
  width: 10px;
  height: 100px;
  background-color: orange;
  border-bottom: 5px solid black;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;  
  padding: 20px;
  background-color: orange;
  border-radius: 10px;
  margin-bottom: 20px;
}

.semaforo {
  width: 60px; 
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: grey;
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer; /* Añadido para indicar que es clickable */
}

.rojo {
  background-color: red;
}

.amarillo {
  background-color: yellow;
}

.verde {
  background-color: green;
}

.purple {
  background-color: purple;
}

.activo {
  box-shadow: 0 0 20px 10px white;
}

button {
  width: 150px;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
